
.header h1{
  float: none;
  font-size: 5em;
  padding-left: 2em;
  text-align: center;
}

.onlyMobile{
  position: static;
  width: 100%;
}

.onlyDesktop{
  overflow: hidden;
  position: absolute;
  height: 0;
}

.header {
  width: 100%;
  border: 0;
  border-bottom: 1px solid brown;
}

/* #sotto{
  padding-top: 5em;
} */

.header img {
  padding-top: 0.5em;
  height: 7em;
  width: 7em;
}

.contentElement img {
	max-width: 100%;
}

.contentElement.Left img, .contentElement.Right img{
	float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
	padding:  0;
	border: 0;
}

#internalNavBar{
  margin: 0;
  border: 0;
  width: 100%;
  text-align: center;
}

#content{
  width: 100%;
  margin: 0;
}

#hamburger,#close{
  float: right;
}

#mobileMenu {
  width: 100%;
  text-align: center;
  height: 100vh;
}

#mobileMenu h3 {
  font-size: 4em;
}

#logNav ul li,#internalNavBar ul li {
  border: 0px 0px 0px 0px;
}

#mobileMenu img{
  margin-top: 1em;
}

#mobileMenu ul {
	list-style-type: none;
	overflow: hidden;
  border: 0;
}

#mobileMenu li {
  width: 100%;
	float:left;
  display: block;
  border-right: 1px solid brown;
}

#mobileMenu li a {
	display: block;
	color: brown;
  padding:0.3em;
	text-decoration: none;
  font-size: 4em;
}

#mobileMenu li span{
	display: block;
  background-color: brown;
  color: white;
  padding:0.3em;
  font-size: 4em;
}

/* #mobileMenu img{
  margin-top: 10vh;
} */

#logNav{
  border-top: 1px brown solid;
  padding-top: 0.5em;
}

.search-container form {
  width: 100%;
}

#linkEsterni{
  border-bottom: 1px brown solid;
}

#mobileInterni{
  margin-top: 0.5em;
}

.product img{
  max-width: 100%;
  width:100%;
}

#storia,#negozio,#stabilimento,#contatti,#info,#productlist{
  /* padding-top: 10vh; */
  border-left: 0;
  border-right: 0;
  width: 100%;
}

#footer{
  border-left: 0;
  border-right: 0;
  margin:0.3em 0.3em 0.3em 0.3em;
}

#contatti li{
  margin-left: 0.5em;
  margin-top: 0.2em;
}

#up_arrow{
  height: 5em;
  width: 5em;
}

#close{
  float:right;
}
