*{
  margin: 0;
  padding: 0;
  border: 0;
}

html,body{
  max-width: 100vw;
}


.onlyMobile{
  position: static;
  width: 100%;
  overflow: visible;
}
#accessBar a{
  display: block;
}

.onlyDesktop{
  overflow: hidden;
  position: absolute;
  height: 0;
}

.header {
  width: 100vw;
  border: 0;
  border-bottom: 1px solid brown;
  margin-bottom: 0.5em;
  border-top: 1px solid brown;
}

.header h1{
  font-size: 1.8  em;
  width: 70vw;
  text-align: right;
}

#briciole{
  margin-bottom: 0.5em;
  text-align: center;
}


.contentElement ,.bottomElement{
  border-left: 0;
  border-right: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;

}
#content {
  float: none;
  padding-bottom: 0;
  width: 100vw;
}

#contentElement p, .bottomElement p{
  margin: 0;
  padding: 0;
}
.contentElement img, .bottomElement img {
  max-width: 100vw;
}

.contentElement.Left img, .contentElement.Right img, .bottomElement{
	float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
	padding:  0;
	border: 0;
}


#logNav ul li,#internalNavBar ul li {
  border: 0px 0px 0px 0px;
}

#logNav{
  border-top: 1px brown solid;
  padding-top: 0.5em;
}
.product img{
  max-width: 100%;
  width:100%;
}

/* 
.bottomElement {
  border-left: 0;
  border-right: 0;
  margin:0.5em 0.3em 0.3em 0.3em;
  padding-bottom: 0.5em;

} */

.bottomElement button {
  width: 60vw;
  margin-bottom: 0.1em;  
  float: left;

}

#contatti li{
  margin-left: 0.5em;
  margin-top: 0.2em;
}

#up_arrow{
  height: 5em;
  width: 5em;
  left: 43.48%;
}

#form button, #form label{
  float: left;
  text-align: left;
}

#form input,select,textarea{
  float: right;
  /* font-size: 1em; */

}

fieldset{
  border:0;
}

#form div{
  float: left;
  width: 100%;
  text-align: left;
}

/* .bottomElement {
  margin: 0;  
  border: 0;
  padding: 0;
}
.bottomElement :first-line {
  padding-top: 0.5em;
  border-top: 1px solid brown;
}
#footer {
  border: 0;
} */


/* CODICE CSS PER IL MOBILE MENU */
#menuToggle
{
  display: block;
  position: relative;
  top: 3.2em;
  left: 2em;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 5em;
  height: 3em;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 2.5em;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#mobileMenuList
{
  position: absolute;
  width: 90vw;
  margin: -100px 0 0 -4em;
  padding: 3em;
  padding-top: 10em;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#mobileMenuList li {
  width: 100%;
	float:left;
  display: block;
}


#mobileMenuList li span{
  display: block;
  width: 80%;
  height: 100%;
  background-color: brown;
  color: white;
  padding:0.3em;
} 

#mobileMenuList a
{
  display: block;
	color: brown;
  padding:0.3em;
	text-decoration: none;
  
}

#mobileMenu a :hover
{
  display: block;
	color: brown;
  padding:0.3em;
	text-decoration: none;
  
}




  
