*{
    margin: 0;
    padding: 0;
    border: 0;

}
html, body{
max-width: 1024px;
margin: auto;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;

}
body{
  border: 1px solid brown;
}
#logo {
	overflow: hidden;
	max-height: 8em;
  padding: 1em;
	max-width: 20%;
	float: left;
}

#menu {
	overflow: hidden;
	width: 78%;
  border:1px solid brown;


	}
#header{
  overflow: hidden;
  width: 100%;
}

#menu li a {
	display: block;
	padding:1em;
	color: brown;
  text-align: center;
	text-decoration: none;
}
#menu li span {
	float:left;
  padding:1em;
  background-color: brown;
  color: white;
}

#menu li {
	float:left;
  border-right: 1px solid brown;
}
#menu li:last-child {
    border-right: none;
}
#menu ul {
	list-style-type: none;
	overflow: hidden;

}

#menu li a:hover {

  background-color:antiquewhite;


}


#header h1{
	padding: 0.5em;
	text-align: center;
	color: black;
}

#content {
	float: left;
	font-size: 1.05em;
  margin-top: 1em;
  padding:1em;
  float: right;
  width: 75%;
}

#contatti {
	float: left;
  margin: 1em;
  padding:0.5em;
  border: solid 1px brown;

	background-color: lightyellow;
  width: 100%;
}

#contatti ul {
	list-style-type: circle;
  padding-left: 1.5em;

}

#footer {

	float: left;
	background-color: lightyellow;
  width: 100%;
}
#footer{
  border-top: 1px solid;
}

#menu input[type=text] {
	box-sizing: border-box;
	border: 1px solid brown;
	border-radius: 4px;

}

.contentElement {
	padding: 1em;
	overflow: hidden;

}

.contentElement h2 {
	text-align: center;
	padding: 0.5em;
}

.contentElement img {
	max-width: 40%;
}

.contentElement p {
	margin: 1em;
}


.contentElement.Left img {
	float: left;
	padding-right:  0.6em;
	margin-right: 0.6em;
	border-right: 2px solid black;

}

.contentElement.Right img {
	float: right;
	padding-left: 0.6em;
	border-left: 2px solid black;
	margin-left: 0.6em;
}
#internalNavBar  {
  margin-top: 1em;
  width: 20%;
  border: 1px solid brown;
  float:left;
}
#internalNavBar ul {
    list-style-type: none;
    background-color: lightyellow;
}

#internalNavBar li a {
    display: block;
    color: brown;
    padding: 1em 3em;
    text-decoration: none;
}

/* Change the link color on hover */
#internalNavBar li a:hover {
    background-color: antiquewhite;
    color: brown;
}

#LoginForm {
  border: 1px solid brown;
  margin: 1em;
  padding: 1em;

}

#info{
  padding: 1em;
}
#productlist{
  padding: 1em;
}
.product{
  padding-left: 1em;
  background-color: lightyellow;

  padding: 1em;
  overflow: hidden;
}
.product img{
  float:left;
  padding-right: 1em;
  max-width: 60%;

}
.product h4{
    margin-bottom: 1em;
}
