*{
    margin: 0;
    padding: 0;
    border: 0;

}

#logo {
	overflow: hidden;
	max-height: 10em;
	max-width: 20%;
	float: left;
}

#menu {

	float: left;
	overflow: hidden;
	width: 70%;
	margin-left: 10%;
  border:1px solid brown;


	}
#header{
	border: 1px solid;
	height: 10em;
	background-color: lightyellow;
	border-radius: 10px;
  width: 100%;
}

#menu li a {
	display: block;
	padding:1em;
	color: brown;
  text-align: center;
	text-decoration: none;
}
#menu li span {
	float:left;
  padding:1em;
  background-color: brown;
  color: white;
}

#menu li {
	float:left;
}

#menu ul {
	list-style-type: none;
	overflow: hidden;

}

#menu li a:hover {

  background-color:antiquewhite;


}


#header h1{
	padding: 0.5em;
	text-align: center;
	color: black;
}

#content {
	float: left;
	font-size: 1.05em;

}

#contatti {
	float: left;
  padding: 1em;
	background-color: lightyellow;
  width: 100%;
}

#contatti ul {
	list-style-type: circle;
  padding-left: 1.5em;

}

#footer {
	float: left;
	background-color: lightyellow;
  width: 100%;
}
#footer{
  border-top: 1px solid;
}
#menu input[type=text] {
	box-sizing: border-box;
	margin-top: 1.1em;
	margin-left: 1em;
	width: 100%;
	border: 1px solid brown;
	border-radius: 4px;

}

.contentElement {
	padding: 1em;
	overflow: hidden;
	background-color: lightyellow;
}

.contentElement h2 {
	text-align: center;
	padding: 0.5em;
}

.contentElement img {
	max-width: 40%;
}

.contentElement p {
	margin: 1em;
}


.contentElement.Left img {
	float: left;
	padding-right:  0.6em;
	margin-right: 0.6em;
	border-right: 2px solid black;

}

.contentElement.Right img {
	float: right;
	padding-left: 0.6em;
	border-left: 2px solid black;
	margin-left: 0.6em;
}
#internalNavBar  {
  width: 20%;
  border: 1px solid brown;
  float:left;
}
#internalNavBar ul {
    list-style-type: none;
    background-color: lightyellow;
}

#internalNavBar li a {
    display: block;
    color: brown;
    padding: 1em 3em;
    text-decoration: none;
}

/* Change the link color on hover */
#internalNavBar li a:hover {
    background-color: antiquewhite;
    color: brown;
}

.Loginform {
  border: 1px solid brown;
  margin: 1em;
  padding: 1em;

}
